<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flypaas.cdr.dao.TrafficNodeConsumMapper" >
  
  <select id="queryResourceSideCountFlowMonth" resultType="java.lang.Integer" parameterType="Map">
  	select count(*) from 
  	(
	  	select 
		  	SUM(traffic_in) traffic_in,
			SUM(traffic_out) traffic_out,
			AVG(traffic_feerate)  traffic_feerate,
			SUM(traffic_fee) traffic_fee,
			node_sid node_sid
	  	from t_traffic_node_day_consum_${dateTime}
	  	where 
		  	node_sid in
	  	<foreach collection="sidList" item = "netSid" open="(" separator="," close=")">  
	        #{netSid}  
	    </foreach> 
	    GROUP BY
			node_sid
	  ) t
  </select> 
  
  <select id="queryResourceSideFlowMonth" resultType="java.util.Map" parameterType="Map">
  	select 
	  	SUM(traffic_in) traffic_in,
		SUM(traffic_out) traffic_out,
		FORMAT(AVG(traffic_res_feerate)/100,2)  traffic_feerate,
		FORMAT(SUM(traffic_res_fee)/100,2) traffic_fee,
		node_sid node_sid
  	from t_traffic_node_day_consum_${dateTime}
  	where node_sid in
  	<foreach collection="sidList" item = "netSid" open="(" separator="," close=")">  
        #{netSid}  
    </foreach> 
    GROUP BY
		node_sid
  	limit #{begin,jdbcType=INTEGER} , #{count,jdbcType=INTEGER};
  </select>
  
  <select id="queryResourceSideCount" resultType="java.lang.Integer" parameterType="Map">
  	select count(*) from 
  	(
	  	select 
		  	SUM(traffic_in) traffic_in,
			SUM(traffic_out) traffic_out,
			AVG(traffic_feerate)  traffic_feerate,
			SUM(traffic_fee) traffic_fee,
			node_sid node_sid
	  	from t_traffic_node_day_consum_${month}
	  	where 
		  	DATE_FORMAT(datetime,'%Y%m%d') = #{dateTime}
		  	and node_sid in
	  	<foreach collection="sidList" item = "netSid" open="(" separator="," close=")">  
	        #{netSid}  
	    </foreach> 
	    GROUP BY
			node_sid
	  ) t
  </select> 
  
  <select id="queryResourceSideFlowDay" resultType="java.util.Map" parameterType="Map">
  	select 
	  	SUM(traffic_in) traffic_in,
		SUM(traffic_out) traffic_out,
		FORMAT(AVG(traffic_res_feerate)/100,2)  traffic_feerate,
		FORMAT(SUM(traffic_res_fee)/100,2) traffic_fee,
		node_sid node_sid
  	from t_traffic_node_day_consum_${month}
  	where DATE_FORMAT(datetime,'%Y%m%d') = #{dateTime}
  	and node_sid in
  	<foreach collection="sidList" item = "netSid" open="(" separator="," close=")">  
        #{netSid}  
    </foreach> 
    GROUP BY
		node_sid
  	limit #{begin,jdbcType=INTEGER} , #{count,jdbcType=INTEGER};
  </select>
  
  <select id="queryCountResourceFlowDay" resultType="java.lang.Integer" parameterType="Map">
  	select count(*)
  	from t_traffic_node_day_consum_${month}
  	where DATE_FORMAT(datetime,'%Y%m%d') = #{dateTime}
  	<if test="keyWord !=null">
  		and node_ip like concat('%', #{keyWord}, '%')
  	</if>
  </select> 
  
  <select id="queryResourceFlowDay" resultType="java.util.Map" parameterType="Map">
  	select 
	  	id,
	  	datetime,
	  	sid,
	  	node_ip,
	  	node_sid,
	  	traffic_in,
	  	traffic_out,
	  	FORMAT(traffic_res_feerate/100,2) traffic_feerate,
	  	FORMAT(traffic_res_fee/100,2) traffic_fee
  	from t_traffic_node_day_consum_${month}
  	where DATE_FORMAT(datetime,'%Y%m%d') = #{dateTime}
  	<if test="keyWord !=null">
  		and node_ip like concat('%', #{keyWord}, '%')
  	</if>
  	limit #{begin,jdbcType=INTEGER} , #{count,jdbcType=INTEGER};
  </select>
  
  <select id="queryCountResourceFlowMonth" resultType="java.lang.Integer" parameterType="Map">
  	select count(*) from 
  	(
	  	SELECT
			node_ip node_ip,
			SUM(traffic_in) traffic_in,
			SUM(traffic_out) traffic_out,
			traffic_res_feerate traffic_feerate,
			SUM(traffic_res_fee) traffic_fee,
			node_sid node_sid
		FROM
			t_traffic_node_day_consum_${dateTime}
	  	GROUP BY
			node_ip,
			traffic_res_feerate,
			node_sid
	  	<if test="keyWord !=null">
	  		HAVING node_ip like concat('%', #{keyWord}, '%')
	  	</if>
  	) t
  </select> 
  
  <select id="queryResourceFlowMonth" resultType="java.util.Map" parameterType="Map">
  	SELECT
		node_ip node_ip,
		SUM(traffic_in) traffic_in,
		SUM(traffic_out) traffic_out,
		FORMAT(traffic_res_feerate/100,2) traffic_feerate,
		FORMAT(SUM(traffic_res_fee)/100,2) traffic_fee,
		node_sid node_sid
	FROM
		t_traffic_node_day_consum_${dateTime}
  	GROUP BY
		node_ip,
		traffic_res_feerate,
		node_sid
  	<if test="keyWord !=null">
  		HAVING node_ip like concat('%', #{keyWord}, '%')
  	</if>
  	limit #{begin,jdbcType=INTEGER} , #{count,jdbcType=INTEGER}
  </select>
  
  <select id="queryNodeTodayTraffic" resultType="java.util.Map" parameterType="Map">
  	select 
	  	sum(traffic_in) traffic_in,
	  	sum(traffic_out) traffic_out,
	  	HOUR(datetime) hour,
	  	sum(traffic_in+traffic_out) total
  	from t_traffic_node_today_consume_${dateTime}
  	where node_ip = #{ip}
  	group by hour
	ORDER BY hour
  </select>
</mapper>