<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 管理员中心-权限管理 -->
<mapper namespace="authority">
	
	<!-- 查询menuId -->
	<select id="getMenuId" resultType="map">
		SELECT
			m.menu_id,
			m.parent_id
		FROM
			ucpaas.tb_ucpaas_menu m,
			ucpaas.tb_ucpaas_role_menu rm,
			ucpaas.tb_ucpaas_role r
		WHERE
			m.menu_id = rm.menu_id
		AND rm.role_id = r.role_id
		AND m.`status` = 1
		and r.`status` = 1
		AND	m.menu_url = #{menu_url}
		AND r.role_id = #{role_id}
		ORDER BY
			m.`level` DESC
		LIMIT 1
	</select>
	
	<!-- 查询角色是否对menuId有访问权限 -->
	<select id="isAuthorityMenuId" resultType="map">
		SELECT
			count(0) AS totalCount
		FROM
			ucpaas.tb_ucpaas_menu m,
			ucpaas.tb_ucpaas_role_menu rm,
			ucpaas.tb_ucpaas_role r
		WHERE
			m.menu_id = rm.menu_id
		AND rm.role_id = r.role_id
		AND m.`status` = 1
		AND m.menu_id = #{menu_id}
		AND r.`status` = 1
		AND r.role_id = #{role_id}
	</select>
</mapper> 