<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flypaas.dao.TbRsCityMapper" >
  <resultMap id="BaseResultMap" type="com.flypaas.model.TbRsCity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="areaid" property="areaid" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="provinceid" property="provinceid" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="cityid" property="cityid" jdbcType="INTEGER" />
    <result column="continent" property="continent" jdbcType="VARCHAR" />
    <result column="continentid" property="continentid" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="countryid" property="countryid" jdbcType="INTEGER" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, province, provinceid, city, cityid, area, areaid,country,countryid,continent,continentid,latitude,longitude
  </sql>
  
  <select id="queryCityByCityId" resultMap="BaseResultMap" parameterType="java.lang.String">
	select city,country,latitude,longitude
	from tb_rs_city
	where cityid = #{1,jdbcType=INTEGER}
	and countryid = #{0,jdbcType=INTEGER}
  </select>
  
  <select id="queryAllCountry" resultMap="BaseResultMap">
  	select distinct
    countryid,country
    from tb_rs_city
  </select>
  
  <select id="queryProvinceByCountryId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  	select distinct 
    province, provinceid
    from tb_rs_city
    where countryid = #{countryid,jdbcType=INTEGER}
  </select>
  
  <select id="queryProvinceByAreaId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select distinct 
    province, provinceid
    from tb_rs_city
    where areaid = #{areaid,jdbcType=INTEGER}
  </select>
  
  <select id="queryContinentByCountry" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	select DISTINCT continentid from tb_rs_city where countryid=#{0}
  </select>
  
   <select id="queryAreaByCity" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	select DISTINCT areaid from tb_rs_city where cityid=#{0}
  </select>
  
  
  
  <select id="queryCityBypId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_rs_city
    where provinceid = #{pId,jdbcType=INTEGER}
  </select>
  
  <select id="queryAll" resultMap="BaseResultMap">
  	select distinct
    cityid,city
    from tb_rs_city
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_rs_city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_rs_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.flypaas.model.TbRsCity" >
    insert into tb_rs_city (id, province, provinceid, 
      city, cityid, area, areaid,country,countryid,continent,continentid)
    values (#{id,jdbcType=INTEGER}, 
    #{province,jdbcType=VARCHAR}, #{provinceid,jdbcType=INTEGER}, 
    #{city,jdbcType=VARCHAR}, #{cityid,jdbcType=INTEGER}, 
    #{area,jdbcType=VARCHAR}, #{areaid,jdbcType=INTEGER},
    #{country,jdbcType=VARCHAR},#{countryid,jdbcType=INTEGER},
    #{continent,jdbcType=VARCHAR},#{continentid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.flypaas.model.TbRsCity" >
    insert into tb_rs_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="provinceid != null" >
        provinceid,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="cityid != null" >
        cityid,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="areaid != null" >
        areaid,
      </if>
      <if test="continent != null" >
        continent,
      </if>
      <if test="continentid != null" >
        continentid,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="areaid != null" >
        countryid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null" >
        #{provinceid,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        #{countryid,jdbcType=INTEGER},
      </if>
      <if test="continent != null" >
        #{continent,jdbcType=VARCHAR},
      </if>
      <if test="continentid != null" >
        #{continentid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flypaas.model.TbRsCity" >
    update tb_rs_city
    <set >
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null" >
        provinceid = #{provinceid,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        cityid = #{cityid,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        areaid = #{areaid,jdbcType=INTEGER},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        countryid = #{countryid,jdbcType=INTEGER},
      </if>
      <if test="continent != null" >
        continent = #{continent,jdbcType=VARCHAR},
      </if>
      <if test="continentid != null" >
        continentid = #{continentid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flypaas.model.TbRsCity" >
    update tb_rs_city
    set province = #{province,jdbcType=VARCHAR},
      provinceid = #{provinceid,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      cityid = #{cityid,jdbcType=INTEGER},
      area = #{area,jdbcType=VARCHAR},
      areaid = #{areaid,jdbcType=INTEGER},
      country = #{country,jdbcType=VARCHAR},
      countryid = #{countryid,jdbcType=INTEGER},
      continent = #{continent,jdbcType=VARCHAR},
      continentid = #{continentid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>