<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flypaas.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.flypaas.model.User" >
    <id column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="super_sid" property="superSid" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="fee_strategy" property="feeStrategy" jdbcType="CHAR" />
    <result column="net_id" property="netId" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="auth_status" property="authStatus" jdbcType="CHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="chat_type" property="chatType" jdbcType="INTEGER" />
    <result column="chat_nbr" property="chatNbr" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="developer_type" property="developerType" jdbcType="CHAR" />
    <result column="national" property="national" jdbcType="INTEGER" />
    <result column="id_type" property="idType" jdbcType="CHAR" />
    <result column="id_nbr" property="idNbr" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="o_con_type1" property="oConType1" jdbcType="CHAR" />
    <result column="o_con_nbr1" property="oConNbr1" jdbcType="VARCHAR" />
    <result column="o_con_type2" property="oConType2" jdbcType="CHAR" />
    <result column="o_con_nbr2" property="oConNbr2" jdbcType="VARCHAR" />
    <result column="point" property="point" jdbcType="BIGINT" />
    <result column="rank" property="rank" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="company_nbr" property="companyNbr" jdbcType="VARCHAR" />
    <result column="web_site" property="webSite" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="login_times" property="loginTimes" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="guide" property="guide" jdbcType="INTEGER" />
    <result column="random_nbr" property="randomNbr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, super_sid, token, fee_strategy, net_id, username, email, password, status, auth_status, 
    mobile, chat_type, chat_nbr, realname, address, developer_type, national, id_type, 
    id_nbr, org_id, o_con_type1, o_con_nbr1, o_con_type2, o_con_nbr2, point, rank, legal_person, 
    company_nbr, web_site, create_date, update_date, login_times, province, city, guide, 
    random_nbr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_flypaas_user
    where sid = #{sid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_flypaas_user
    where sid = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.flypaas.model.User" >
    insert into tb_flypaas_user (sid, super_sid, token, 
      fee_strategy, net_id, username, 
      email, password, status, 
      auth_status, mobile, chat_type, 
      chat_nbr, realname, address, 
      developer_type, national, id_type, 
      id_nbr, org_id, o_con_type1, 
      o_con_nbr1, o_con_type2, o_con_nbr2, 
      point, rank, legal_person, 
      company_nbr, web_site, create_date, 
      update_date, login_times, province, 
      city, guide, random_nbr
      )
    values (#{sid,jdbcType=VARCHAR}, #{superSid,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
      #{feeStrategy,jdbcType=CHAR}, #{netId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{authStatus,jdbcType=CHAR}, #{mobile,jdbcType=VARCHAR}, #{chatType,jdbcType=INTEGER}, 
      #{chatNbr,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{developerType,jdbcType=CHAR}, #{national,jdbcType=INTEGER}, #{idType,jdbcType=CHAR}, 
      #{idNbr,jdbcType=VARCHAR}, #{orgId,jdbcType=BIGINT}, #{oConType1,jdbcType=CHAR}, 
      #{oConNbr1,jdbcType=VARCHAR}, #{oConType2,jdbcType=CHAR}, #{oConNbr2,jdbcType=VARCHAR}, 
      #{point,jdbcType=BIGINT}, #{rank,jdbcType=VARCHAR}, #{legalPerson,jdbcType=VARCHAR}, 
      #{companyNbr,jdbcType=VARCHAR}, #{webSite,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{loginTimes,jdbcType=INTEGER}, #{province,jdbcType=INTEGER}, 
      #{city,jdbcType=INTEGER}, #{guide,jdbcType=INTEGER}, #{randomNbr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flypaas.model.User" >
    insert into tb_flypaas_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="superSid != null" >
        super_sid,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="feeStrategy != null" >
        fee_strategy,
      </if>
      <if test="netId != null" >
        net_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="authStatus != null" >
        auth_status,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="chatType != null" >
        chat_type,
      </if>
      <if test="chatNbr != null" >
        chat_nbr,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="developerType != null" >
        developer_type,
      </if>
      <if test="national != null" >
        national,
      </if>
      <if test="idType != null" >
        id_type,
      </if>
      <if test="idNbr != null" >
        id_nbr,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="oConType1 != null" >
        o_con_type1,
      </if>
      <if test="oConNbr1 != null" >
        o_con_nbr1,
      </if>
      <if test="oConType2 != null" >
        o_con_type2,
      </if>
      <if test="oConNbr2 != null" >
        o_con_nbr2,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="legalPerson != null" >
        legal_person,
      </if>
      <if test="companyNbr != null" >
        company_nbr,
      </if>
      <if test="webSite != null" >
        web_site,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="loginTimes != null" >
        login_times,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="guide != null" >
        guide,
      </if>
      <if test="randomNbr != null" >
        random_nbr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="superSid != null" >
        #{superSid,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="feeStrategy != null" >
        #{feeStrategy,jdbcType=CHAR},
      </if>
      <if test="netId != null" >
        #{netId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="authStatus != null" >
        #{authStatus,jdbcType=CHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="chatType != null" >
        #{chatType,jdbcType=INTEGER},
      </if>
      <if test="chatNbr != null" >
        #{chatNbr,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="developerType != null" >
        #{developerType,jdbcType=CHAR},
      </if>
      <if test="national != null" >
        #{national,jdbcType=INTEGER},
      </if>
      <if test="idType != null" >
        #{idType,jdbcType=CHAR},
      </if>
      <if test="idNbr != null" >
        #{idNbr,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="oConType1 != null" >
        #{oConType1,jdbcType=CHAR},
      </if>
      <if test="oConNbr1 != null" >
        #{oConNbr1,jdbcType=VARCHAR},
      </if>
      <if test="oConType2 != null" >
        #{oConType2,jdbcType=CHAR},
      </if>
      <if test="oConNbr2 != null" >
        #{oConNbr2,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=BIGINT},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="companyNbr != null" >
        #{companyNbr,jdbcType=VARCHAR},
      </if>
      <if test="webSite != null" >
        #{webSite,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTimes != null" >
        #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="guide != null" >
        #{guide,jdbcType=INTEGER},
      </if>
      <if test="randomNbr != null" >
        #{randomNbr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flypaas.model.User" >
    update tb_flypaas_user
    <set >
      <if test="superSid != null" >
        super_sid = #{superSid,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="feeStrategy != null" >
        fee_strategy = #{feeStrategy,jdbcType=CHAR},
      </if>
      <if test="netId != null" >
        net_id = #{netId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="authStatus != null" >
        auth_status = #{authStatus,jdbcType=CHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="chatType != null" >
        chat_type = #{chatType,jdbcType=INTEGER},
      </if>
      <if test="chatNbr != null" >
        chat_nbr = #{chatNbr,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="developerType != null" >
        developer_type = #{developerType,jdbcType=CHAR},
      </if>
      <if test="national != null" >
        national = #{national,jdbcType=INTEGER},
      </if>
      <if test="idType != null" >
        id_type = #{idType,jdbcType=CHAR},
      </if>
      <if test="idNbr != null" >
        id_nbr = #{idNbr,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="oConType1 != null" >
        o_con_type1 = #{oConType1,jdbcType=CHAR},
      </if>
      <if test="oConNbr1 != null" >
        o_con_nbr1 = #{oConNbr1,jdbcType=VARCHAR},
      </if>
      <if test="oConType2 != null" >
        o_con_type2 = #{oConType2,jdbcType=CHAR},
      </if>
      <if test="oConNbr2 != null" >
        o_con_nbr2 = #{oConNbr2,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=BIGINT},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="companyNbr != null" >
        company_nbr = #{companyNbr,jdbcType=VARCHAR},
      </if>
      <if test="webSite != null" >
        web_site = #{webSite,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTimes != null" >
        login_times = #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="guide != null" >
        guide = #{guide,jdbcType=INTEGER},
      </if>
      <if test="randomNbr != null" >
        random_nbr = #{randomNbr,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flypaas.model.User" >
    update tb_flypaas_user
    set super_sid = #{superSid,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      fee_strategy = #{feeStrategy,jdbcType=CHAR},
      net_id = #{netId,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      auth_status = #{authStatus,jdbcType=CHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      chat_type = #{chatType,jdbcType=INTEGER},
      chat_nbr = #{chatNbr,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      developer_type = #{developerType,jdbcType=CHAR},
      national = #{national,jdbcType=INTEGER},
      id_type = #{idType,jdbcType=CHAR},
      id_nbr = #{idNbr,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=BIGINT},
      o_con_type1 = #{oConType1,jdbcType=CHAR},
      o_con_nbr1 = #{oConNbr1,jdbcType=VARCHAR},
      o_con_type2 = #{oConType2,jdbcType=CHAR},
      o_con_nbr2 = #{oConNbr2,jdbcType=VARCHAR},
      point = #{point,jdbcType=BIGINT},
      rank = #{rank,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      company_nbr = #{companyNbr,jdbcType=VARCHAR},
      web_site = #{webSite,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      login_times = #{loginTimes,jdbcType=INTEGER},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      guide = #{guide,jdbcType=INTEGER},
      random_nbr = #{randomNbr,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>