<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>flypaas-admin</display-name>
  
  <!--配置 spring  -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:spring*.xml</param-value>
  </context-param>
  <!-- 项目根目录下的值 -->
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>flypaas-admin.root</param-value>
  </context-param>
  
  
  <!--缓存过滤器  -->
  <filter>
    <filter-name>CacheFilter</filter-name>
    <filter-class>com.opensymphony.oscache.web.filter.CacheFilter</filter-class>
    <init-param>
      <param-name>time</param-name>
      <param-value>3600</param-value>
    </init-param>
    <init-param>
      <param-name>scope</param-name>
      <param-value>application</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>/common/*</url-pattern>
  </filter-mapping>
  
  
  <!-- 监听器  监听web容器的改变 然后获取之后处理  -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  <!--配置方式   B:高级配置(允许代理注入Spring bean) -->
  <filter>
    <filter-name>authorityFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
  <!-- targetFilterLifecycle"指明作用于filter的所有生命周期 -->
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
    <!--根据sid查找url 显示在菜单上  -->
    <init-param>
      <param-name>excludeEqualUrls</param-name>
      <param-value>/,/index,/login,/logout,/checkCode,/monitor,/ringAudit/callback</param-value>
    </init-param>
    <init-param>
      <param-name>excludeStartUrls</param-name>
      <param-value>/menu/</param-value>
    </init-param>
  </filter>
  
  
  
  <filter-mapping>
    <filter-name>authorityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  
  <filter>
    <filter-name>struts-prepare</filter-name>
    <filter-class>com.flypaas.admin.filter.FlypaasStrutsPrepareFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts-prepare</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  <filter>
    <filter-name>struts-execute</filter-name>
    <filter-class>org.apache.struts2.dispatcher.filter.StrutsExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts-execute</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  
  <servlet>
    <servlet-name>UEditorServlet</servlet-name>
    <servlet-class>com.flypaas.admin.servlet.UEditorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UEditorServlet</servlet-name>
    <url-pattern>/ueditor.servlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/common/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/common/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/common/404.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  
  
  
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
</web-app>