<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 自定义标签业务 -->
<mapper namespace="tag">

	<!-- 查询数据字典表 -->
	<select id="queryDictionary" resultType="map">
		SELECT
		t.`value`,
		t.text
		FROM
		(
		SELECT
		'' AS `value`,
		'${placeholder}：所有' AS text,
		- 1 AS sort
		UNION ALL
		SELECT
		p.param_key AS `value`,
		p.param_value AS text,
		p.param_order AS sort
		FROM
		network_monitor.network_monitor_params p
		WHERE
		p.param_type = #{dictionaryType}
		) t
		WHERE
		1 = 1

		<if test="includeValue != null">
			AND t.`value` in
			<foreach collection="includeValue" item="i" open="(" close=")"
				separator=",">
				#{i}
			</foreach>
		</if>
		<if test="excludeValue != null">
			AND t.`value` not in
			<foreach collection="excludeValue" item="i" open="(" close=")"
				separator=",">
				#{i}
			</foreach>
		</if>
		ORDER BY
		sort
	</select>

	<!-- 获取监控的SR节点 -->
	<select id="sr_monitor" resultType="map">
		SELECT
		t.value,
		t.text
		FROM
		(SELECT '' as value,'SR节点:所有' as text,now() as create_time,'' as mnos
		union
		SELECT DISTINCT sr_id as value,sr_name as text,create_time,mnos from
		network_monitor.sr_node_info) t
		WHERE
		1 = 1
		<if test="mnos != null">
			AND t.mnos = #{mnos}
		</if>
		ORDER BY
		t.create_time DESC
	</select>
	<!-- 获取监控目标 -->
	<select id="query_monitor_target" resultType="map">
		SELECT
	
	distinct(d.sr_name) AS dst_name,
	n.nbrid
	
FROM
	network_monitor.node_neighbors n,
	network_monitor.sr_node_info s,
	network_monitor.sr_node_info d
WHERE
	1 = 1
AND n.sr_id = s.sr_id
AND n.nbrid = d.sr_id
and s.sr_id =#{sr_id}
ORDER BY
n.time DESC

	</select>
	<!-- 获取国家 -->
	<select id="country" resultType="map">
SELECT '' as value,'请选择国家' as text
 		union
		SELECT CONVERT(id, CHAR) as value,country as text from network_monitor.network_monitor_country
	</select>
	
	<!-- 获取省份 -->
	<select id="province" resultType="map">
		SELECT '' as value,'请选择省份' as text
		union
		SELECT CONVERT(id, CHAR) as value,name as text from
		network_monitor.network_monitor_province
		where countryid=#{countryId}
	</select>

	<!-- 获取城市 -->
	<select id="city" resultType="map">
		SELECT '' as value,'地级市' as text
		union
		SELECT DISTINCT CONVERT(id, CHAR) as value,name as text from
		network_monitor.network_monitor_city WHERE provinceId = #{provinceId}
	</select>

</mapper> 