<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="billdtl">
	<!-- 充值 or 赠送-->
	<update id="rechargeOrGifts">
		update tb_bill_acct_balance t set balance = balance + #{cv} where sid=#{sid}
	</update>
	<!-- 扣费 -->
	<update id="deduction">
		update tb_bill_acct_balance t set balance = balance - #{cv} where sid=#{sid}
	</update>
	
	<insert id="insertPayOrder" >
		insert into tb_srv_payment_order(sid,charge,charge_type,status,create_date,pay_date,pay_result_date,charge_balance)
		values(#{sid},#{charge},#{charge_type},#{status},now(),now(),now(),
		(select balance from tb_bill_acct_balance where sid = #{sid}))
	</insert>
	
	<!-- 更新充值提醒标记 -->
	<update id="updateRemindBySid">
		update tb_srv_remind set status = 0 where sid=#{sid} and remind_type=1
	</update>
	
</mapper> 