<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring*.xml</param-value>
	</context-param>
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
  <listener>
    <listener-class>com.flypaas.context.SessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
      org.springframework.web.filter.CharacterEncodingFilter
     </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>signFilter</filter-name>
    <filter-class>com.flypaas.filter.LogoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>signFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
    <url-pattern>/app/*</url-pattern>
    <url-pattern>/pay/*</url-pattern>
    <url-pattern>/bill/*</url-pattern>
    <url-pattern>/agreenment/*</url-pattern>
    <url-pattern>/checkcode/voiceCheckCode</url-pattern>
    <url-pattern>/checkcode/smsCheckCode</url-pattern>
    <url-pattern>/coupon/*</url-pattern>
    <url-pattern>/finance/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
      org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/page/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/page/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/page/error/500.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>front/phone_or_pc.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>connect_discuz</servlet-name>
    <servlet-class>com.fivestars.interfaces.bbs.api.UC</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>connect_discuz</servlet-name>
    <url-pattern>/api/uc.php</url-pattern>
  </servlet-mapping>
</web-app>