@charset 'utf-8';
/*登录注册-css*/
.com_wrap{background-color:#f5f5f5;padding:35px 0;}
.com_wrap .w1180{width: 1180px;height: auto;margin: 0 auto;position: relative;}
.LR_title{overflow:hidden;border-bottom:1px solid #e5e5e5;padding-bottom:12px;}
.LR_title .tit{float:left;font-size:16px;}
.LR_title .right_btn{float:right;}
.LR_title .right_btn span{display:inline-block;width:90px;height:28px;border-radius:14px;margin-right:12px;background-color:#b2b2b2;color:#fff;text-align:center;line-height:28px;}
.LR_title .right_btn .vip_com{background-color:#0058ab;}
.LR_cont{padding:20px;background-color:#fff;}
.LR_cont .register_cont{width:57%;border-right:1px solid #e5e5e5;margin:50px 0}
.LR_ul{/*overflow:hidden;*/width:70%;margin:auto;}
.LR_ul li{max-height: 57px;margin-bottom: 20px;position: relative;}
.LR_ul li input[type="text"]{border:1px solid #d7d7d7;width:278px;padding:12px 10px 13px 10px;}
.LR_ul li input[type="password"]{border:1px solid #d7d7d7;width:278px;padding:12px 10px 13px 10px;}
.LR_ul li input[type="text"].hover{border: 1px solid #004b92;}
.LR_ul li input[type="password"].hover{border: 1px solid #004b92;}
.LR_ul li .word{width:90px;text-align:right;float:left;line-height:46px}
.LR_ul li .txt{margin-left:90px;line-height:24px;height: 24px;position: relative;top: 10px;}
.LR_ul li .txt input{width:auto;margin-right:5px;}
.LR_ul li .txt input[type="checkbox"]{position: relative;top: 1px;}
.LR_ul li input[type="text"].yzm{width:138px;}
.LR_ul li .txt a{color:#0058ab;}
.LR_ul li .txt a:hover{text-decoration: underline;}
.LR_ul li button,.LR_ul li .next{width:300px;margin-left:90px;height:44px;background-color:#014b92;color:#fff;line-height:44px;text-align:center;font-size:18px;cursor: pointer;}
.LR_ul li button:hover{background: #0058aa;}
.LR_ul li .next:hover{background: #0058aa;}
.LR_ul li .send_number{height:45px;position: relative;top: -2px;*top:-15px;width:130px;display:inline-block;border-radius:1px;background-color:#ff8103;color:#fff;text-align:center;margin-left:10px;line-height:45px;vertical-align:middle;cursor:pointer;}
.LR_ul li .send_number:hover{background: #ff6e01;}
.LR_ul li .send_yzm{height: 46px;position: relative;top: -2px;*top:-14px;width: 130px;display: inline-block;margin-left: 10px;vertical-align: middle;overflow: hidden;}
.LR_ul li .send_yzm img{width: 130px;height: 46px;}
.LR_ul li .not-read{height: 46px;line-height: 46px;display: inline-block;width: auto;position: relative;margin-left: 12px;color: #0058ab;font-size: 12px;position: absolute;}
.LR_ul li .not-read:hover{text-decoration: underline;}
.LR_ul li .active{background: #b2b2b2;}
.right_com{width:42%;margin:70px auto;text-align:center;}
.right_com dl{padding:20% 0;}
.right_com dl dd{line-height:24px;padding:3% 0;}
.right_com dl dd a{width:120px;height:40px;background-color:#f9f9f9;border:1px solid #e7e7e7;display:inline-block;line-height:40px;}
.right_com dl dd a:hover{background-color:#ff8103;border-color:#ff8103;color:#fff;border-radius:3px;}
.right_com .login_dl{padding:8% 0;}
.right_com .login_dl15{padding: 15% 0;}
.LR_ul li .txt .forgot{margin-right:15px;position: absolute;top: 0;right: 55px;}
.LR_ul li .txt .forgot:hover{text-decoration: underline;}
.LR_cont .state_process{text-align:center;padding:48px 25% 50px 25%;}
.LR_cont .state_process li{float:left;position:relative;height:4px;width:180px;background-color:#e4e4e4;text-align:center;}
.LR_cont .state_process li .num{font-weight:400;font-family:"Impact";font-size:16px;height:28px;line-height:28px;width:28px;border-radius:50%;background-color:#e4e4e4;display:block;color:#fff;position:relative;top:-14px;margin: 0 auto;}
.LR_cont .state_process li p{font-size:13px;color:#999;}
.LR_cont .state_process .state2,.LR_cont .state_process .state2 .num{background-color:#d7d7d7;}
.LR_cont .state_process .now_state,.LR_cont .state_process .now_state .num{background-color:#ff8103;}
.LR_cont .state_process .now_state p{color:#555;}
#findpwd{padding:60px 0;}
#findpwd .LR_ul{width:45%;}
.LR_ul li .input1{background-color:#f5f5f5;}
.LR_cont .suc_cont{padding:48px 0;text-align:center;}
.LR_cont .suc_cont p{margin-bottom:15px;}
.LR_cont .suc_cont .simg{display:inline-block;width:78px;height:78px;background-position:-182px 0;}
.LR_cont .suc_cont .suc_txt a{color:#ff6803;}
.LR_cont .suc_cont .re_login{margin-top:25px;}
.LR_cont .suc_cont .re_login a{width:300px;margin:0 auto;height:44px;background-color:#014b92;color:#fff;line-height:44px;text-align:center;font-size:18px;display:inline-block}
.LR_cont .suc_cont .re_login a:hover{background: #0058aa;}
.find_way{margin:90px auto;width:50%;overflow:hidden;}
.find_way li{width:49%;float:left;text-align:center;}
.find_way li:first-child{border-right:1px solid #e5e5e5;}
.find_way li .tit{padding:15px 0 0 0;color:#555;font-size:16px;}
.find_way li .txt{color:#888;}
.find_way li:hover .tit{color: #000;}
.find_way li:hover .txt{color: #000;}
.zc-tank{display: none; width: 500px; height: 500px;}
.zc-tank .neir{padding: 10px 0 0 10px; overflow: auto; width: 490px; height: 480px;}
.zc-tank .neir h3{ text-align: center; display: block;font-weight: bold; padding: 10px 0;}
.zc-tank .neir dl{ padding-bottom: 10px;}
.zc-tank .neir dt{ font-weight: bold; padding-bottom: 5px;}
.zc-tank .neir dd{ line-height: 20px;}


/*注册成功*/
.integral-pop {
	padding: 50px 0 30px;
	text-align: center;
	display: none;
}
.integral-icon {
	width: 56px;
	height: 56px;
}
.integral-icon>img {
	width: 100%;
}
.integral-txt {
	color: #333;
	text-align: left;
}
.integral-txt>h3 {
	font-size: 20px;
}
.integral-txt>p {
	font-size: 12px;
}
.integral-txt>p>span {
	color: #fa4f4f;
}
.integral-button {
	position: relative!important;
	display: block;
	margin: 65px auto 0;
	width: 120px;
	line-height: 42px;
	background: #ff7f00;
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.integral-button:hover {
	background: #ef7700;
}
